body {
    /* overflow: scroll; */
    overflow-x: hidden;
    font-family: 'Times New Roman';
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.slash {
    height: 10px;
    background-image: linear-gradient(45deg,
      hsla(0, 0%, 5%, 0),
      hsla(0, 0%, 5%, 0) 33.33%,
      hsla(0, 0%, 5%, 1) 33.33%,
      hsla(0, 0%, 5%, 1) 66.67%,
      hsla(0, 0%, 5%, 0) 66.67%,
      hsla(0, 0%, 5%, 0) 100%);
    background-size: 10px 100%;
    width: 75%;
}

/* .column{
    float: left;
} */

.left{
    background-color: #2BAE66FF;
    color: #FCF6F5FF;
    width: 35%;
    top:0;
    bottom:0;
    left:0;
    overflow: hidden;
    position:fixed;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items vertically */
    justify-content: center;
}

#my-name{
    text-align: center;
    font-size: 40px;
}

#avatar{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description{
    text-align: center;
}

#github{
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
}

#github-icon{
    width:35px;
    height:35px;
}

#github-profile{
    text-align: center;
    margin-left: 12px;
}

#github-profile a{
    text-decoration: none;
    color: black;
}

#github-profile a:visited { text-decoration: none; color:black; }
#github-profile a:hover { text-decoration: none; color:rgb(30, 121, 71); }
#github-profile a:focus { text-decoration: none; color: black; }
#github-profile a:hover { text-decoration: none; color: rgb(30, 121, 71); }
/* #github-profile a:active { text-decoration: none; color:blue } */

.right{
    background-color: #FCF6F5FF;
    color: #2BAE66FF;
    float: right;
    /* margin-left: 35%; */
    width: 65%;
    /* overflow-y: scroll; */
    overflow: auto;
}

#portfolio-title{
    text-align: center;
}

.project-title{
    font-size: 30px;
    text-align: center;
}

.project-title a{
    padding-bottom: 0.15em;
    --mainColor: #2BAE66FF;
    background:
        linear-gradient(
            to bottom, var(--mainColor) 0%, 
            var(--mainColor) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}

.project-title a:hover {
    background-size: 4px 50px;
  }

.project-photo{
    text-align: center;
}

.project-photo img{
    width:200px;
    height:200px;
    border-radius: 25px;
    opacity: 0.6;
    padding: 10px;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: center;
}