body {
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'Lato';
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.column{
    float: left;
}

.left{
    background-color: #89ABE3FF;
    color: #FCF6F5FF;
    width: 35%;
    top:0;
    bottom:0;
    left:0;
    overflow: hidden;
    position:fixed;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items vertically */
    justify-content: center;
}

#my-name{
    text-align: center;
    font-size: 40px;
}

#avatar{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description{
    text-align: center;
}

#github{
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
}

#github-icon{
    width:35px;
    height:35px;
}

#github-profile{
    text-align: center;
    margin-left: 12px;
}

#github-profile a{
    text-decoration: none;
    color: black;
}

#github-profile a:visited { text-decoration: none; color:black; }
#github-profile a:hover { text-decoration: none; color:blue; }
#github-profile a:focus { text-decoration: none; color: black; }
#github-profile a:hover { text-decoration: none; color:blue }
/* #github-profile a:active { text-decoration: none; color:blue } */

.right{
    background-color: #FCF6F5FF;
    color: #89ABE3FF;
    margin-left: 35%;
    width: 65%;
    overflow-y: scroll;
}

#portfolio-title{
    text-align: center;
}

.project-title{
    font-size: 30px;
    text-align: center;
}

.project-title a{
    text-decoration: none;
    color: black;
}

.project-description{
    font-size: 18px;
    text-align: center;
}

.project-photo{
    text-align: center;
}

.project-photo img{
    width:200px;
    height:200px;
    border-radius: 25px;
    opacity: 0.6;
    padding: 10px;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: center;
}